---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../style/generelt.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon1.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Vin Med Dans" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&display=swap" rel="stylesheet" />
    <title>VinMedDans</title>
  </head>
  <body>
    <Header />

    <main>
      <div class="image-container">
        <img class="forsidebillede" src="/img/forsidepic1.webp" alt="2 vine der st책r p책 en blomstermark" />
        <img class="forsidebillede2" src="/img/forsidepic2.webp" alt="2 vine der st책r p책 en blomstermark mobil version">
      </div>
    </main>
    <Footer />
    <script src="../scripts/login.js"></script>
  </body>
</html>

<style>

  /******** Generelle regler ********/

  /*******  Mobil site *******/

  img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .forsidebillede {
      display: none;
    }
  .forsidebillede2{
    display: block;
  }

  /******** Desktop site *******/ 

  @media (min-width: 750px) {
    img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

    .forsidebillede2{
    display: none;
  }
  .forsidebillede {
      display: block;
    }

</style>
