---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../style/generelt.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&display=swap" rel="stylesheet" />
    <title>Om os</title>
  </head>
  <body>
    <Header />
    <main>
      <div class="animation_top">
        <img src="/img/bær.png" alt="" />
      </div>

      <div class="grid_4">
        <img src="/img/om_os_drenge.webp" alt="" />
        <div class="grid_4_text">
          <h2 class="grid_4_tekst">Velkommen til Vin Med Dans!</h2>
          <p class="tekst_1">
            Vi er tre unge mænd ved navn Lasse, Asbjørn og Oliver, der brænder for at lave vin. Vores passionerede vinmageri blev grundlagt af os tre, og vores eventyr begyndte, da en fælles ven lærte os at lave vin af hyldeblomster, som vi selv
            plukkede. Denne opskrift blev startskuddet til vores drøm om at skabe vine med ekstraordinær smag.
          </p>
          <p class="tekst_2">
            Vores rejse begyndte som et hobbyprojekt i Lasses have, hvor vi eksperimenterede med forskellige smagskombinationer og processer. For at finansiere vores voksende passion og forbedre vores udstyr begyndte vi at sælge vores håndlavede vine
            til venner og familie.
          </p>
          <p class="tekst_3">Vi tror på, at den kærlighed og dedikation, vi lægger i hver flakse, kan smages. Vores mål er at skabe vine, der ikke kun er en nydelse for smagsløgene, men også fortæller historier og skaber uforglemmelige øjeblikke.</p>
          <p class="tekst_4">
            Vi håber, at du vil være med til at dele vores lidenskab og smage på vores autentiske og karakterfulde vine. Udforsk vores sortiment, og lad os tage dig med på en unik vinrejse, hvor hver flaske er fyldt med kærlighed, omsorg og en
            særlige Vin Med Dans-magi.
          </p>
          <p class="tekst_5">Skål!</p>
          <p class="tekst_6">Lasse, Asbjørn og Oliver – Vin Med Dans</p>
        </div>
      </div>

      <div class="grid_4_1">
        <h2 class="galleri_text">Vin Med Dans Galleri</h2>
      </div>
      <div class="grid_4_2">
        <img src="/img/galleriimg/galleri1.webp" alt="" />
        <img src="/img/galleriimg/galleri2.webp" alt="" />
        <img src="/img/galleriimg/galleri3.webp" alt="" />
        <img src="/img/galleriimg/galleri4.webp" alt="" />
        <img src="/img/galleriimg/galleri5.webp" alt="" />
        <img src="/img/galleriimg/galleri6.webp" alt="" />
        <img src="/img/galleriimg/galleri7.webp" alt="" />
        <img src="/img/galleriimg/galleri8.webp" alt="" />
        <img src="/img/galleriimg/galleri9.webp" alt="" />
      </div>

      <Footer />
    </main>
  </body>
</html>

<style>
  * {
    padding: 0;
    margin: 0;
  }

  .animation_top {
    text-align: center;
    margin-bottom: 50px;
  }
  .animation_top img {
    width: 200px;
    display: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .galleri_text {
    margin-bottom: 15px;
  }

  /*******  Mobil site *******/
  .grid_4 img {
    width: 395px;
    display: block;
    margin-bottom: 2rem;
  }

  .grid_4_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .grid_4_2 img {
    width: 170px;
  }

  .tekst_1,
  .tekst_2,
  .tekst_3,
  .tekst_4,
  .tekst_5,
  .tekst_6 {
    margin-bottom: 20px;
    line-height: 22px;
  }

  .grid_4_tekst {
    margin-bottom: 40px;
  }

  /******** Desktop site *******/
  @media (min-width: 750px) {
    /* web */

    .animation_top img {
      width: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .animation_top {
      text-align: center;
    }

    .grid_4 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: left;
    }
    .grid_4 img {
      width: 80%;
      display: block;
    }
    .tekst_1,
    .tekst_2,
    .tekst_3,
    .tekst_4,
    .tekst_5,
    .tekst_6 {
      margin-bottom: 20px;
      line-height: 28px;
    }

    .grid_4_tekst {
      margin-bottom: 40px;
    }

    .grid_4_text {
    }

    .grid_4_1 {
      text-align: center;
    }

    .grid_4_2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
    }

    .grid_4_2 img {
      width: 100%;
    }
  }
</style>
