---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../style/generelt.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&display=swap" rel="stylesheet" />
    <title>Om_os</title>
  </head>
  <body>
    <Header />
    <main>
      <div class="animation_top">
        <img src="/img/bær.png" alt="" />
        <h1>Webshop</h1>
      </div>

      <style>
        * {
          padding: 0;
          margin: 0;
        }

        .animation_top {
          text-align: center;
        }
        .animation_top img {
          width: 200px;
          display: relative;
          margin-left: auto;
          margin-right: auto;
        }

        @media (min-width: 750px) {
          /* web */

          .animation_top img {
            width: 200px;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          .animation_top {
            text-align: center;
          }
        }
      </style>
    </main></body
  >
</html>
