---
const url = "https://xqvteegxtrhyaxryzjmy.supabase.co/rest/v1/Vine?select=id";
const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhxdnRlZWd4dHJoeWF4cnl6am15Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODM3MDA4MTgsImV4cCI6MTk5OTI3NjgxOH0.fIAM4hosM6TLUsP1u7U7f2kO-f0G5EN_4OfCSRzoeg4",
  },
};
const response = await fetch(url, options);
const data = await response.json();

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../style/generelt.css";
import Layouts from "../Layout/Layouts.astro";
import Webshopcard from "../components/Webshopcard.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&display=swap" rel="stylesheet" />
    <title>Om_os</title>
  </head>
  <body>
    <Header />
    <main>
      <div class="animation_top">
        <img src="/img/bær.png" alt="" />
        <h1>Webshop</h1>
      </div>

      <Layouts title="Medlemsliste">
        <main>
          {data.map((person) => <Webshopcard image={`/img/produktimg/${person.image}`} name={person.name} scene={person.scene} />)}
        </main>
      </Layouts>

      <Footer />

      <style>
        * {
          padding: 0;
          margin: 0;
        }

        .animation_top {
          text-align: center;
        }
        .animation_top img {
          width: 200px;
          display: relative;
          margin-left: auto;
          margin-right: auto;
        }

        @media (min-width: 750px) {
          /* web */

          .animation_top img {
            width: 200px;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          .animation_top {
            text-align: center;
          }
        }
      </style>
    </main></body
  >
</html>
