body {
  background-color: #fde8f0;
}

.h1 {
  font-family: 'Amatic SC', sans-serif;
}

.h2 {
  font-family: 'Amatic SC', sans-serif;
}

.p {
  font-family: 'Montserrat', sans-serif;}

/*
font-family: 'Amatic SC', cursive;
font-family: 'Montserrat', sans-serif;