<main>
  <div class="adresse"><h4 class="adresse_tekst">Stubbeløbsgade 2, 2100 København Ø</h4></div>
  <div>
    <img src="/img/vinmeddanslogo.png" alt="Logo" class="footerimg" />
    <div class="instagram_link">
      <a href="https://www.instagram.com/vinmeddans/">
        <img class="img_instagram" src="/img/instagram.png" alt="" />
      </a>
    </div>
  </div>
  <div><h4 class="footer_tekst">All rights reserved © Vinmeddans ApS</h4></div>
</main>
<style>
  .footerimg {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .adresse {
    order: 1;
  }
  h4 {
    color: black;
    text-align: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .img_instagram {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .instagram_link {
    order: -1;
  }
  @media (min-width: 750px) {
    /*web*/
    main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 70px; /*very big*/
      margin-bottom: 30px;
      padding: 10px;
    }
    .footerimg {
      display: block;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    .adresse_tekst {
      text-align: left;
    }

    .footer_tekst {
      text-align: right;
    }

    .adresse {
      order: -1;
    }
  }
</style>
