<main>
  <div class="adresse"><h4>Stubbeløbsgade 2, 2100 København Ø</h4></div>
  <div><img src="/img/vinmeddanslogo.png" alt="Logo" class="footerimg" /></div>
  <div><h4>All rights reserved © Vinmeddans ApS</h4></div>
</main>
<style>
  .footerimg {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .adresse {
    order: 1;
  }
  h4 {
    color: black;
    text-align: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }
  @media (min-width: 750px) {
    /*web*/
    main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 70px; /*very big*/
      margin-bottom: 30px;
      padding: 10px;
    }
    .footerimg {
      display: block;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    .adresse {
      order: -1;
    }
  }
</style>
