<main>
  <div><h4>Stubbeløbsgade 2, 2100 København Ø</h4></div>
  <div><img src="/img/vinmeddanslogo.png" alt="Logo" class="footerimg" /></div>
  <div><h4>All rights reserved © Vinmeddans ApS</h4></div>
</main>
<style>
  .footerimg {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  h4 {
    color: black;
    text-align: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }
  @media (min-width: 750px) {
    /*web*/
    main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 10px;
      padding: 10px;
    }
    .h3 {
      font-size: 1rem;
    }
  }
</style>
