<main>
  <section class="section_footer">
    <div class="footer1">
      <p>All rights reserved © Vinmeddans ApS</p>
    </div>
    <div class="footer2">
      <img src="../img/pink_logo.png" alt="Logo" class="footerimg" />
    </div>
    <div class="footer3">
      <p>Stubbeløbsgade 2</p>
      <p>2100 København Ø</p>
    </div>
  </section>
</main>
<style>
  footer {
    display: grid;
    padding: 30px;
    text-align: center;
  }

  .section_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
  .footerimg {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

<<<<<<< HEAD
  p {
    font-size: 0.8rem;
=======
  .adresse {
    order: 1;
  }
  h4 {
>>>>>>> abf2d7b1ccf62ac50b77b09809b4e1940d1a7de1
    color: black;
    text-align: center;
  }

  main {
<<<<<<< HEAD
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
=======
    display: grid;
    grid-template-columns: 1fr;
  }
  @media (min-width: 750px) {
    /*web*/
    main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 10px;
      padding: 10px;
    }
    .footerimg {
      display: block;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    .adresse {
      order: -1;
    }
>>>>>>> abf2d7b1ccf62ac50b77b09809b4e1940d1a7de1
  }
</style>
