<main>
  <img src="/img/pink_logo.png" alt="Logo" class="footerimg" />
  <p>Stubbeløbsgade 2</p>
  <p>2100 København Ø</p>
  <p>vinmeddans@gmail.com</p>

  <div class="footerbox"></div>
</main>
<style>
  .footerimg {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    color: black;
    text-align: center;
    font-family: "Kanit";
  }

  main {
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: white;
  }
</style>
