<header>
  <div class="navigation_wrap">
    <div class="logo">
      <a href="/"> <img class="logo_img" src="/img/logo.png" alt="" /></a>
    </div>

    <button id="burger-menu">
      <span></span>
    </button>
    <nav id="menu">
      <ul>
        <li><a class="forside" href="/forside"> Forside</a></li>
        <li><a class="produktion" href="/produktion"> Produktion</a></li>
        <li><a class="webshop" href="/webshop"> Webshop</a></li>
        <li><a class="om_os" href="/om_os"> Om os</a></li>
        <li><a class="kontakt_os" href="/kontakt_os"> Kontakt os</a></li>
      </ul>
    </nav>
  </div>
</header>

<script src="../scripts/burger.js"></script>

<style>
  /* HEADER */

  header {
    position: relative;
    top: 2%;
    justify-content: space-between;
    margin: 10px;
  }

  .logo_img {
    display: block;
    width: 150px;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 0.4rem;
    gap: 30px;
    overflow-x: auto;
  }
  .navigation_wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
    margin: 10px;
  }

  header a {
    font-family: "Amatic SC", bold;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: #f35b98;
  }

  #burger-menu {
    display: none;
  }

  .logo {
    width: 800px;
  }

  @media (min-width: 750px) {
    #burger-menu {
      /* display: none; */
    }

    .forside {
      display: none;
    }
  }
  @media (max-width: 750px) {
    /* HEADER */

    .navigation_wrap {
      position: relative;
      display: flex;
      align-items: center;
    }

    body {
      padding: 0px;
      margin: 0px;
    }
    header {
      gap: 1rem;
      align-items: center;
      align-items: right;
      justify-content: space-between;
      position: block;
      top: 0;
      background-color: #fde8f0;
      width: 100%;
    }

    header nav ul {
      display: block;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-bottom: 0.4rem;
      gap: 30px;
      overflow-x: auto;
    }

    .logo_img {
      width: 45%;
    }

    .forside {
      display: block;
    }

    /* BURGERMENU */
    #burger-menu {
      text-indent: -9999px;
      display: block;
      border: none;
      background: transparent;
      margin: 60px;
      cursor: pointer;
      height: 27px;
      width: 27px;
      z-index: 2;
      position: sticky;
      top: 0px;
      right: 30px;
    }

    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
      background: #f35b98;
      /*display: block;*/
      height: 3px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
    }
    #burger-menu span:before {
      left: 0px;
      top: -10px;
      width: 27px;
    }
    #burger-menu span {
      left: 0px;
      top: 13px;
      width: 27px;
    }
    #burger-menu span:after {
      left: 0px;
      top: 10px;
      width: 27px;
    }
    #burger-menu.close span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
      background: #f35b98;
    }
    #burger-menu.close span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
      background: #f35b98;
    }
    #burger-menu.close span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
      background: #f35b98;
    }
    #menu {
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      padding-top: 20px;
    }

    #menu.overlay {
      visibility: visible;
      opacity: 1;
      padding-top: 100px;
      background: #fde8f0;
      transition: all 0.3s ease-in-out;
    }
    #menu ul {
      padding: 0;
    }
    #menu li {
      list-style: none;
      display: initial;
    }
    #menu a {
      color: pink;
      display: block;
      font-size: 300%;
      margin-bottom: 30px;
      text-decoration: none;
      font-family: "Amatic SC", bold;
      font-size: 1.5rem;
      color: black;
      text-decoration: none;
      text-align: center;
      padding-top: 2%;
    }

    #menu a:hover {
      color: #f35b98;
    }
  }
</style>
